<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="end-page">
        <h1>Get One Step Ahead Of Disease</h1>
        <p>Imperdiet aliquet est vel nulla turpis eu consequat ullamcorper a egestas suspendisse faucibus eu velit,
            phasellus pulvinar lorem et libero et tortor, sapien nulla.</p>
        <button class="button-primary">Shop now</button>
    </section>
</body>

</html>