<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="features">
        <div class="feature">
            <div class="feature-top">
                <div class="icon-wrapper icon-box">
                    <img src="../../assets/icons/box.svg" alt="square" class="square" />
                    <img src="../../assets/icons/box_2.svg" alt="check-part1" class="check-part2" />
                    <img src="../../assets/icons/box_1.svg" alt="check-part2" class="check-part1" />
                </div>
                <h1>Full-Service<br /> Shipping</h1>
            </div>
            <p>From picking to custom-crating to domestic and international shipping, we handle it all for you.</p>
        </div>
        <div class="feature">
            <div class="feature-top">
                <div class="icon-wrapper icon-shield">
                    <img src="../../assets/icons/shield_1.svg" alt="square" class="square" />
                    <img src="../../assets/icons/shield_2.svg" alt="check" class="check" />
                </div>
                <h1>Multi-Point<br /> Inspection</h1>
            </div>
            <p>To ensure quality, our team of HTM professionals fully assess and evaluate all equipment.</p>
        </div>
        <div class="feature">
            <div class="feature-top">
                <div class="icon-wrapper icon-human">
                    <img src="../../assets/icons/human.svg" alt="square" class="human" />
                    <img src="../../assets/icons/human_2.svg" alt="check 1" class="check-human1" />
                    <img src="../../assets/icons/human_3.svg" alt="check 2" class="check-human2" />
                </div>
                <h1>Professional<br /> Product Support</h1>
            </div>
            <p>If you have any questions about the equipment, our product specialists are here to help.</p>
        </div>
        <div class="feature">
            <div class="feature-top">
                <div class="icon-wrapper icon-card">
                    <img src="../../assets/icons/card.svg" alt="square" class="card" />
                    <img src="../../assets/icons/card_2.svg" alt="check 1" class="check-card1" />
                    <img src="../../assets/icons/card_3.svg" alt="check 2" class="check-card2" />
                </div>
                <h1>Secure and Easy<br /> Payment Methods</h1>
            </div>
            <p>Pay your way, whether by credit card, PayPal or the redemption of earned credits.</p>
        </div>
    </section>
</body>

</html>