<section class="content">
    <div class="text-block">
        <p class="text-under">3M N95 masks</p>
        <h1 class="first-title">Protective<br> Face Masks</h1>
        <p class="text-two-under">
            We offer the fast delivery wholesale selection of N95 masks and surgical masks, featuring FDA-approved
            quality
            and 2 – 5 days delivery, our wholesale face masks are ideal for influenza or novel coronavirus
            prevention.
        </p>
        <div class="first_button">
            <button class="button-primary">Shop now</button>
            <button class="button-secondary">Learn More</button>
        </div>
    </div>
    <div class="photo-stack">
        <img src="../../assets/images/kn95-face-masks-coronavirus.svg" class="top" />
    </div>
</section>