<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div class="grey-field-header"></div>
        <div class='button-wrapper'>
          <button class="button-text">Home</button>
          <button class="button-text">About</button>
          <button class="button-text">Product</button>
          <button class="button-text">Contact</button>
          <button class="button-text">History</button>
          <button class="button-primary">Contact Us</button>
        </div>
</body>

</html>