<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="new-section">
        <div class="new-section-wrapper">
            <div class="new-section-image">
                <img src="../../assets/images/mask-1.svg" alt="Example" />
            </div>
            <div class="new-section-content">
                <div class="section-text">
                    <h2>Reasons To Choose Our Products</h2>
                    <p>All products of Health Pro have obtained the certifications issued by national specialized
                        agencies
                        and
                        testing laboratories.</p>

                    <p>They have also passed the quality inspection of several international famous testing
                        institutions. We
                        have
                        absolute confidence that every product of Health Pro is a of the top quality.</p>
                </div>
                <div class="features-grid">
                    <div class="featurez">
                        <div class="feature-icon">
                            <img src="../../assets/icons/Ellipse.svg" alt="icon" />
                            <img src="../../assets/icons/cup.svg" alt="icon" />
                        </div>
                        <div class="skills-text">
                            <h2>Industry leader</h2>
                            <p>If you have any questions about the equipment, our product specialists are here to help,
                                specialists are here.</p>
                        </div>
                    </div>
                    <div class="featurez">
                        <div class="feature-icon">
                            <img src="../../assets/icons/Ellipse.svg" alt="icon" />
                            <img src="../../assets/icons/graph.svg" alt="icon" />
                        </div>
                        <div class="skills-text">
                            <h2>Innovation 3 led development</h2>
                            <p>If you have any questions about the equipment, our product specialists are here to help.
                            </p>
                        </div>
                    </div>
                    <div class="featurez">
                        <div class="feature-icon">
                            <img src="../../assets/icons/Ellipse.svg" alt="icon" />
                            <img src="../../assets/icons/save.svg" alt="icon" />
                        </div>
                        <div class="skills-text">
                            <h2>To create a safer<br> tomorrow for all</h2>
                            <p>If you have any questions about the equipment, our product specialists are here to help.
                            </p>
                        </div>
                    </div>
                    <div class="featurez">
                        <div class="feature-icon">
                            <img src="../../assets/icons/Ellipse.svg" alt="icon" />
                            <img src="../../assets/icons/friends.svg" alt="icon" />
                        </div>
                        <div class="skills-text">
                            <h2>To protect and to improve living quality<br /> for all</h2>
                            <p>If you have any questions about the equipment, our product specialists are here to help.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>